

header{
    flex-shrink: 0;
    width: 100%;
    height: 46px;
    background: #103279;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
header p{
        font-size: 14px;
        margin: 0 10px;
}

.strip{
    flex-shrink: 0;
    height: 10px;
    background: #F4F9FF;
    border-bottom: 1px solid #EAEDF6;
}
main{  
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}
.events{
   padding: 0 10px;
}
.events .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAEDF6;
    height: 35px;
    color: #1F358A;
}
.events .tit{
    font-size: 13px;
    margin-top: 10px;
}
.events .place_time{
    font-size: 12px;
    color: #D8DCDF;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.events ul li{
    width: 100%;
      
    border-bottom: 1px solid #EAEDF6;
}

.tab p{
    width: 100%;
    display: flex;
}
.tab-item{
    flex:auto;
    text-align: center;
    padding: 10px;
}
.tab-item-active{
    color: #009DFF;
    border-top: 2px solid #009DFF;
}

.news{
    padding: 0 8px;
}
.news .new_tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAEDF6;
    height: 35px;
    color: #1F358A;
}
.new_tit p:nth-child(2){
    color: #ccc;
    font-size: 13px;
}
.new_tit p:nth-child(2) span{
    margin: 0 10px;
}
.news .new_title{
    font-size: 13px;
    margin-top: 10px;
}
.news ul li{
    border-bottom: 1px solid #EAEDF6;
}
.news .place{
    font-size: 12px;
    color: #D8DCDF;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.news .place span:nth-child(1){
    color:#58B79F;
}